.mobile_gallery,
.mobile_gallery_thumbs
{
    display: none;

    @media (max-width: 1023px)
    {
        display: block;
    }
}

.mobile_gallery
{
    position: relative;
}

.mobile_gallery .mobile_gallery-zoom-button
{
    background-color: #fff;
    background-image: url(../images/cursor-zoom.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    border-radius: 50%;
    cursor: pointer;
    width: 40px;
    height: 40px;
    position: absolute;
    outline: 0;
    top: 20px;
    right: 20px;
    z-index: 1;
}

.woocommerce-product-gallery
{
    .woocommerce-product-gallery__wrapper
    {
        a.fresco.zoom,
        a:not(.fresco) {
            pointer-events: none;
            display: block;
        }

        &.mobile-gallery
        {
            a.fresco {
                pointer-events: none;
                display: block;
            }
        }
    }

    ol.flex-control-thumbs
    {
        li
        {
            transition: opacity 0.5s ease;

            img
            {
                opacity: 1 !important;
                transition: opacity 0.5s ease;
                -webkit-backface-visibility: hidden;
                transform: translateZ(0) scale(1.0, 1.0);

                &.flex-active
                {
                    opacity: .2 !important;
                }
            }

            &:hover
            {
                img
                {
                    opacity: .2 !important;
                    transition: opacity 0.5s ease;
                }
            }
        }
    }

    .woocommerce-product-gallery__image.youtube
    {
        .fluid-width-video-wrapper
        {
            padding-top: 56.2222%;
            width: 100%;
            position: relative;

            iframe
            {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
}
